{% extends 'base.html' %}

{% block header %}
<a href="{{url_for('blog.index')}}">Go Back to main page</a>
{% endblock %}

{% block content %}
<form class="auth__form" method="post">

  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>

  <label for="title">Title</label>
  <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>

  <div class="category_div">
    <label for="category_id">Category</label>
    <select name="category_id" id="category_id">
      {% for category in categories %}
      {% if post['category_id'] == category['id'] %}
      <option value="{{ category['id'] }}" selected>{{ category['cat_name'] }}</option>
      {% else %}
      <option value="{{ category['id'] }}">{{ category['cat_name'] }}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>

  <label for="body">Body</label>
  <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea>

  <div class="update_buttons_div">
    <input type="submit" value="Save">
</form>

<form action="{{ url_for('blog.delete', id=post['id']) }}" class="form_delete" method="post">
  <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
</form>
</div>

{% endblock %}