@import url(./var.css);

@font-face {
  font-family: "Josefin Sans";
  src: "../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf";
}


html {
  font-family: "Josefin Sans";
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h1{
  font-weight: bolder;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  margin: 1rem 0;
}

a {
  color: #377ba8;
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: lightgray;
  display: flex;
  align-items: center;
  padding: 0 0.5rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  /* text-decoration: none; */
  padding: 0.25rem 0.5rem;
}

nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}


.post.category-1{
  background-color: var(--music-post-color);
}
.post.category-2{
  background-color: var(--food-post-color);
}
.post.category-3{
  background-color: var(--DIY-post-color);
}
.post.category-4{
  background-color: var(--misc-post-color);
}

.post > header {
  display: flex;
  flex-direction: column;
  font-size: 0.85em;
  border-bottom: 1px solid black;
}

.post > header > .post_info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3%;


}

.post > header > .post_info >.post_info-category{
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1%;
}

/* .post > header > div:first-of-type {
  flex: auto;
} */

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: slategray;
  font-style: italic;
}

.post > footer{
  text-align: right;
}

.category_div{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post .body {
overflow-wrap: break-word;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}