@import url(./var.css);


@font-face {
  font-family: 'Josefin Sans';
  src: 
  url('../assets/fonts/Josefin_Sans/static/JosefinSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

html{
  font-family: 'Josefin Sans';
  background-color: #E4E4E4;
}

header:not(.post_header) {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-block: 2rem;
  padding-inline: 2rem;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2rem solid black;
  padding: 0.5rem 2rem;
  @media (width <= 320px) {
    flex-direction: column;
  }
}

nav>ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}


a:not(.return_to_index) {
  color: var(--link-color);
}

.category_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
}

.category-1 {
  background-color: var(--music-post-color);
}

.category-2 {
  background-color: var(--food-post-color);

}

.category-3 {
  background-color: var(--DIY-post-color);

}

.category-4 {
  background-color: var(--misc-post-color);

}


.post_section {
  max-width: 960px;
  margin: 0 auto;

  border-inline: 0.2rem solid black;

}



.post:last-child {
  border-bottom: 0.2rem solid black;

}

.post>header>h1 {
  font-size: 2rem;
}

.post>.body {
  overflow-wrap: break-word;
  padding: 0.2rem;
  font-size: 1.2rem;
}

.post>footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: dotted 0.15rem black;
  padding: 0.5rem 0.2rem;
}

.post>footer>a {
  color: #284898;
}

.post>header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border-top: 0.2rem solid black;
  border-bottom: 0.1rem solid black;
  padding-inline: 0.5rem;
}


.post>header>.post_info-category {
  border: 0.15rem solid black;
  padding: 0.4rem 0.2rem;
  border-radius: 0.3rem;
}

.return_to_index {
  text-decoration: none;
  color: black;
}

form:not(.form_delete) {

  max-width: 960px;
  margin: 10% auto;

  background-color: #C9C9C9;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;

  border: 0.3rem solid black;
  border-radius: 1rem;
}

form:not(.form_delete)>label,
input:not([type="submit"]), textarea {
  width: 100%;
  margin-block: 0.2rem;
}

form:not(.form_delete)>input {
  border-radius: 1rem;
}



input[type="submit"]:not(.danger) {
  background-color: var(--link-color);
  color: white;
  border: none;
  padding: 0.3rem;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 0.3rem;
}


.danger {
  background-color: #FF4144;
  color: white;
  border: none;
  padding: 0.3rem;
  margin-top: 3rem;
  cursor: pointer;
  border-radius: 0.3rem;
}



/* form:not(.form_delete){
  background-color: #C9C9C9;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  padding: 3rem;
}


form:not(.form_delete)>input{
width: 100%;
border: 0.5rem;
}


form>.update_buttons_div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
} */

